<ion-view view-title="Browse Feasts Here" class="dashboard">
  <ion-content class="padding">
    <div class="row">
        <div class="col col-10"></div>
        <div class="col col-80">
            <!-- change the return on this when we use various buttons -->
            <a class="button icon-left ion-chevron-left button-clear button-dark brown-colour" ng-click="back()">   Back
            </a>
        </div>
        <div class="col col-10"></div>
    </div>

    <div class="row">
      <div class="col col-10"></div>
        <div class="col col-80">
          <h1 class="brown-colour">Feasts around address</h1>
        </div>
      <div class="col col-10"></div>
    </div>

    <div class="row">
      <div class="col col-10"></div>
      <div class="list col col-80">
        <div ng-repeat="restaurant in restaurants">
          <div class="item item-button-right">
            <div>
              <strong class="brown-colour">Name: {{restaurant.title}}</strong>
              <br>
              <strong class="brown-colour">Address: {{remove_br(restaurant.vicinity)}}</strong>
              <br>
              <strong class="brown-colour">Distance: {{restaurant.distance}}</strong>
            </div>
            <button class="button button-energized" style="float:left; margin-top:19px" ui-sref='dash-restaurant-info(getParamsForState($index))'>
              <strong class="vanilla-colour">Feast</strong>
            </button>
          </div>
          <br>
        </div>
      </div>
      <div class="col col-10"></div>
    </div>
  </ion-content>
</ion-view>