<ion-view view-title="Dashboard" class="dashboard">
  <ion-content class="padding">
    <div class="row">
      <div class="col col-10"></div>
      <div class="col">
        <button class="button icon ion-gear-a button-energized vanilla-colour right-float" ui-sref="dash-settings">
        </button>
      </div>
      <div class="col col-10"></div>
    </div>

    <br>

    <div class="row">
      <div class="col col-10"></div>
        <div class="col col-80">
          <img ng-src="img/freshfeast.gif" class="main-logo">
        </div>
      <div class="col col-10"></div>
    </div>

    <br>
    <br>

    <div class="row">
      <div class="col col-10"></div>
      <div class="col">
          <button class="button button-block button-energized main-menu-button" ui-sref="dash-restaurant-info">
            <strong class="vanilla-colour">Find me a Fresh Feast</strong>
          </button>
      </div>
      <div class="col col-10"></div>
    </div>
    <div class="row">
    <div class="col col-10"></div>
      <div class="col">
        <button class="button button-block button-energized main-menu-button" ui-sref="dash-browse-here">
          <strong class="vanilla-colour">Browse Feasts nearby</strong>
        </button>
      </div>
      <div class="col col-10"></div>
    </div>
    <div class="row">
    <div class="col col-10"></div>
      <div class="col">
        <button class="button button-block button-energized main-menu-button" ui-sref="dash-browse-any">
          <strong class="vanilla-colour">Browse Feasts anywhere</strong>
        </button>
      </div>
      <div class="col col-10"></div>
    </div>
  </ion-content>
</ion-view>