<ion-view view-title="Restaurant" class="dashboard">
  <ion-content class="padding">
    <div class="row">
        <div class="col col-10"></div>
        <div class="col col-80">
            <!-- change the return on this when we use various buttons -->
            <a class="button icon-left ion-chevron-left button-clear button-dark brown-colour" ui-sref="dash-in">   Back
            </a>
        </div>
        <div class="col col-10"></div>
    </div>

      <div class="row">
        <div class="col col-10"></div>
          <div class="col col-80">
            <h1 class="brown-colour">Restaurant Name</h1>
          </div>
        <div class="col col-10"></div>
      </div>

      <div class="row">
        <div class="col col-10"></div>
          <div class="col col-80">
            <div id="map" class="map-style"></div>
            <map ng-if="map.center.lat" zoom="map.zoom" center="map.center" ></map>
          </div>
        <div class="col col-10"></div>
      </div>


      <br>
      <br>

      <div class="row">
      <div class="col col-10"></div>
        <div class="col">
          <button class="button button-block button-balanced main-menu-button" ui-sref="dash-confirm">
            <strong class="vanilla-colour">Go to Restaurant Name</strong>
          </button>
        </div>
        <div class="col col-10"></div>
      </div>
      <div class="row">
      <div class="col col-10"></div>
        <div class="col">
          <button class="button button-block button-assertive main-menu-button" style="margin-top:-5px" ui-sref="dash-in">
            <strong class="vanilla-colour">Hide Stale Feast</strong>
          </button>
        </div>
        <div class="col col-10"></div>
      </div>
  </ion-content>
</ion-view>