<ion-view view-title="Restaurant" class="dashboard">
  <ion-content class="padding">
    <div class="row">
        <div class="col col-10"></div>
        <div class="col col-80">
            <!-- change the return on this when we use various buttons -->
            <a class="button icon-left ion-chevron-left button-clear button-dark brown-colour" ui-sref="dash-in">   Back
            </a>
        </div>
        <div class="col col-10"></div>
    </div>

      <br>

      <div class="row">
        <div class="col col-10"></div>
          <div class="col col-80">
            <h1 class="brown-colour">Restaurant Name</h1>
          </div>
        <div class="col col-10"></div>
      </div>

      <br>
      <br>

      <div class="row">
      <div class="col col-10"></div>
        <div class="col">
          <button class="button button-block button-energized main-menu-button" ui-sref="dash-browse-any">
            <strong class="vanilla-colour">Browse Feasts anywhere</strong>
          </button>
        </div>
        <div class="col col-10"></div>
      </div>
  </ion-content>
</ion-view>