<ion-view view-title="Settings" class="dashboard">
  <ion-content class="padding">
    <div class="row">
        <div class="col col-10"></div>
        <div class="col col-80">
            <a class="button icon-left ion-chevron-left button-clear button-dark brown-colour" ui-sref="dash-in">   Back
            </a>
            <button class="button button-energized right-float" ng-show="isLoggedIn()" ng-click="logout()">
                Logout
            </button>
            <div class="logged-in brown-colour" ng-show="isLoggedIn()"> Logged In: {{user.name}} </div>
        </div>
        <div class="col col-10"></div>
    </div>

    <br>

    <div class="row">
      <div class="col col-10"></div>
        <div class="col col-80">
          <img ng-src="img/freshfeast.gif" class="main-logo">
        </div>
      <div class="col col-10"></div>
    </div>

    <br>
    <br>

    <div class="row">
      <div class="col col-10"></div>
        <div class="col col-80">
          <ul class="list">
            <li class="item item-toggle">
               <strong class="brown-colour">Enable Uber</strong>
               <label class="toggle toggle-energized">
                 <input type="checkbox">
                 <div class="track">
                   <div class="handle"></div>
                 </div>
               </label>
            </li>
            <li class="item item-toggle">
               <strong class="brown-colour">Include WouldGoAgain Restaurants</strong>
               <label class="toggle toggle-energized">
                 <input type="checkbox">
                 <div class="track">
                   <div class="handle"></div>
                 </div>
               </label>
            </li>
          </ul>
        </div>
      <div class="col col-10"></div>
    </div>

    <br>

    <div class="row">
      <div class="col col-10"></div>
      <div class="col">
          <button class="button button-block button-energized main-menu-button">
            <strong class="vanilla-colour">Reset All History</strong>
          </button>
      </div>
      <div class="col col-10"></div>
    </div>
  </ion-content>
</ion-view>
