body {
    background-color: #FCFBE3;
}

.dashboard {
    background-color: #FCFBE3;
}

.main-menu-button {
    max-width: 100%;
}

.vanilla-colour {
    color: #FCFBE3 !important;
}

.brown-colour {
    color: #524B47 !important;
}

.right-float {
    float: right;
}

.main-logo {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hidden-button {
    visibility: hidden !important;
    cursor: default;
}

.toggle-style {
    color: yellow;
}

.logged-in {
    display: inline-block !important;
    float: right !important;
    margin-top: 13px;
    padding-right: 10px;
}

.here-map{ height: 400px; }